<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2024 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="infrangible_retailstore" translate="label" type="text" sortOrder="820" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Retail Store</label>
            <tab>infrangible</tab>
            <resource>Infrangible_RetailStore::config_infrangible_retailstore</resource>
            <group id="google_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google API</label>
                <field id="use_maps_key" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Maps key</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <depends>
                        <field id="use_maps_key">0</field>
                    </depends>
                </field>
            </group>
            <group id="store" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Retail Store</label>
                <field id="cms_block_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CMS Block</label>
                    <source_model>Infrangible\RetailStore\Model\Entity\Attribute\Source\CmsBlock</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
